@font-face {
    font-family: 'bebas_neuebold';
    src: local('bebas_neuebold'),
         url('../../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../../fonts/bebasneue_bold-webfont.ttf') format('ttf'),
         url('../../fonts/bebasneue_bold-webfont.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}




// @font-face {
//     font-family: 'bebas_neue_regularregular';
//     src: local('bebas_neueregular'),
//          url('../../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
//          url('../../fonts/bebasneue_regular-webfont.woff') format('woff'),
//          url('../../fonts/bebasneue_regular-webfont.ttf') format('ttf'),
//          url('../../fonts/bebasneue_regular-webfont.eot') format('eot');
//     font-weight: normal;
//     font-style: normal;

// }

// $bebasRegular: 'bebas_neue_regularregular', sans-serif;
$bebasBold: 'bebas_neuebold', sans-serif;