*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}
h1,h2{
	font-family: $bebasBold; 
	color: $white;
	margin: 0; 
}
.b-promo__title{
	font-size: 96px;
	line-height: 60px;
	letter-spacing: 5px;
	word-spacing: 4px;
}

.i-cols{
	font-size: 0;
	line-height: 0;
}
.i-col{
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}
.i-col--50{
	width: 50%;
}
.i-col--25{
	width: 25%;
}

.b-lnk{
	text-decoration: none;
	.l-lnk-text{
		@include transition(border .4s);
	}
	&.b-lnk_yellow{
		color: $yellow;
		.l-lnk-text{
			border-bottom: 1px solid rgba(244, 181, 15, 0.5);
			&:hover,
			&:focus{
				border-bottom: 1px solid rgba(244, 181, 15, 1);
			}
		}
	}
}