@media (max-width:1140px) and (min-width:1000px) {
	.b-second-promo{
		background-position: 170% 50%;
	}
}
@media (max-width:1280px) and (min-width:1141px) {
	.b-second-promo{
		background-position: 150% 50%;
	}
}
@media (max-width:1560px) and (min-width:1281px) {
	.b-second-promo{
		background-position: 130% 50%;
	}
}
@media (max-width:1780px) and (min-width:1561px) {
	.b-second-promo{
		background-position: 115% 50%;
	}
}
@media (min-width:1781px) {
	.b-second-promo{
		background-position: 100% 50%;
	}
}