.b-second-promo{
	text-align: center;
	background: transparent url("../pic/pic_02.png") 130% 50% no-repeat;
	.b-promo__title{
		margin-bottom: 32px;
	}
	.l-text{
		font-size: 18px;
		line-height: 44px;
		color: $white;
	}
	.l-lnk{
		color: $yellow;
		text-decoration: none;
	}
	.l-lnk-text{
		border-bottom: 1px solid $yellow;	
		@include transition(border .25s);
		&:hover{
			border-bottom: 1px solid transparent;
		}
	}
}
.b-second-promo__wrap{
	width: 54%;
	margin: 0px auto;
}